/* Dans Hero.css ou votre fichier CSS global */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');

/* ----- STYLES DE BASE ----- */
#homePageBackgroundImageDivStyled {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* Remplir toute la hauteur de l'écran */
    background-image: url('/public/images/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    /* Placer l'image derrière le contenu */
}

@media (min-width: 500px) and (max-width: 800px) {
    #homePageBackgroundImageDivStyled {
        background-image: url('/public/images/background.jpg');
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    #homePageBackgroundImageDivStyled {
        background-image: url('/public/images/background.jpg');
    }
}

@media (min-width: 1201px) and (max-width: 1500px) {
    #homePageBackgroundImageDivStyled {
        background-image: url('/public/images/background.jpg');
    }
}

@media (min-width: 1501px) {
    #homePageBackgroundImageDivStyled {
        background-image: url('/public/images/background.jpg');
    }
}

/* ----- STYLES POUR L'ARrière-PLAN ET LE CONTENU ----- */
.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.container.content {
    z-index: 1;
    /* S'assurer que le contenu est au-dessus du fond */
    color: white;
    /* Changer la couleur du texte pour être visible sur le fond */
    text-align: center;
}

/* Dans Hero.css */
.greeting {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    margin: 0px 0px 8px;
}

/* ----- TYPOGRAPHIE ET ANIMATION ----- */
.typing-carousel {
    font-size: 1.5rem;
}

.ityped {
    font-family: 'Mulish';
    font-size: 18.6667px;
}

.ityped-cursor {
    font-size: 2rem;
    color: #fff;
    /* Couleur du curseur de la saisie */
}

/* ----- STYLES POUR L'IMAGE DE L'AUTEUR ----- */
img.rounded-circle {
    width: 148px;
    height: 148px;
    margin-bottom: 10px;
    /* padding: 5px; */
    object-fit: cover;
    border-radius: 50%;
}

/* ----- FLÈCHE DE NAVIGATION ----- */
.arrow-center {
    display: inline-block;
    margin-top: 30px;
    animation: bounce 2s infinite;
}

.arrow {
    font-size: 30px;
    color: white;
    /* Icône fléchée de couleur blanche */
}

/* Animation de la flèche */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}