/* Navbar.css */

/* Style de base pour la barre de navigation */
.top-navbar {
    width: 100%;
    height: 50px;
    z-index: 99999;
    padding-top: 0.4rem;
    transition: background-color 0.5s ease-out, color 0.3s ease-out;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

/* Styles de la barre de navigation en mode transparent */
.top-navbar.transparent-navbar {
    background-color: transparent;
    color: #CBD5E1;
}

.top-navbar.transparent-navbar .nav-link,
.top-navbar.transparent-navbar .brand-link {
    color: #CBD5E1 !important;
}

.top-navbar.transparent-navbar .nav-link:hover,
.top-navbar.transparent-navbar .brand-link:hover {
    color: #0891B2 !important;
    text-decoration-color: #0891B2;
    background: rgba(8, 145, 178, 0.1);
}

/* Styles de la barre de navigation lorsqu'elle est scrollée */
.top-navbar.scrolled-navbar {
    background-color: #F8FAFC;
    color: #1E293B;
}

.top-navbar.scrolled-navbar .nav-link,
.top-navbar.scrolled-navbar .brand-link {
    color: #1E293B;
}

.top-navbar.scrolled-navbar .nav-link:hover,
.top-navbar.scrolled-navbar .brand-link:hover {
    color: #0891B2 !important;
    text-decoration-color: #0891B2;
}

/* Structure et alignement de la navbar */
.navbar {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    justify-content: space-between;
}

/* Médias responsive pour ajuster la taille de la navbar */
@media (max-width: 1200px) {
    .top-navbar {
        padding-top: 1rem;
    }

    .navbar-expand-xl {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .navbar-collapse {
        width: 100%;
        margin-top: 1rem;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }
}

/* Transition pour la sidebar en mode mobile */
@media (max-width: 767px) {
    .navbar-collapse {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #F8FAFC;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-out;
    }

    .navbar-collapse.show {
        display: block;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        padding: 1rem;
        text-align: center;
        color: #1E293B;
    }

    /* Styles pour les liens dans le menu déroulant (mobile) */
    .navbar-collapse.show .nav-link:hover,
    .navbar-collapse.show .nav-link.active {
        color: #0891B2 !important;
        border-bottom: 2px solid #0891B2 !important;
        background: rgba(8, 145, 178, 0.1);
        transition: all ease-out 0.3s;
    }
}

/* Thème sombre */
html[data-theme='dark'] .top-navbar {
    background-color: #1E293B;
    color: #CBD5E1;
}

html[data-theme='dark'] .top-navbar .nav-link,
html[data-theme='dark'] .top-navbar .brand-link {
    color: #CBD5E1;
}

html[data-theme='dark'] .top-navbar .nav-link:hover,
html[data-theme='dark'] .top-navbar .brand-link:hover {
    color: #0891B2 !important;
}

/* Style pour l'onglet actif */
.top-navbar .navbar-nav .active .nav-link,
.top-navbar .navbar-nav .nav-link.active {
    color: #0891B2 !important;
    border-bottom: 2px solid #0891B2 !important;
    background: rgba(8, 145, 178, 0.1);
    transition: all ease-out 0.3s;
}

/* Style pour les liens et icônes au survol */
.top-navbar .navbar-nav .nav-link:hover,
.top-navbar .navbar-nav .brand-link:hover,
.top-navbar .navbar-nav .nav-link img:hover,
.top-navbar .navbar-nav .brand-link img:hover,
.dropdown-link:hover {
    color: #0891B2 !important;
    border-bottom: 2px solid #0891B2 !important;
    background: rgba(8, 145, 178, 0.1);
}

/* Dimensions du logo */
#logo {
    width: 42px;
    height: 42px;
    padding: 5px;
    transition: filter 0.3s ease;
}

/* Logo au format SVG ou image lorsque la barre de navigation est transparente */
.top-navbar.transparent-navbar .theme-icon.transparent {
    filter: brightness(0) invert(1);
    color: #CBD5E1;
}

/* Logo au format SVG ou image lorsque la barre de navigation est en mode scrollé */
.top-navbar.scrolled-navbar .theme-icon.scrolled {
    filter: brightness(0) invert(0);
    color: #1E293B;
}

/* Assurez-vous que le logo s'affiche correctement */
.theme-icon {
    transition: filter 0.3s ease, color 0.3s ease;
}

/* Dimensions des icônes de drapeau */
.flag-icon {
    width: 16px !important;
    height: 16px !important;
    margin: 3px 3px 0 0;
}

/* Styles pour les icônes de sélection de thème */
.top-navbar .navbar-nav .nav-link img {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-out;
}

.top-navbar .navbar-nav .nav-link.active img {
    border-bottom: 2px solid #0891B2 !important;
    background-color: rgba(8, 145, 178, 0.1);
}

/* Menu déroulant */
.dropdown-toggle::after {
    content: '\f0d7';
    /* flèche vers le bas */
    font-family: 'FontAwesome';
    margin-left: 10px;
}

/* Styles pour le menu déroulant */
.top-navbar .dropdown-menu.show {
    max-height: 100vh;
    visibility: visible;
    transition: all ease-out .3s;
}

/* Position des éléments du dropdown à gauche */
.dropdown-menu .dropdown-item {
    color: #1E293B;
    padding-left: 1rem;
    padding-right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s ease;
}

/* Style au survol d'un item du menu déroulant */
.navbar .dropdown-item:hover {
    background-color: rgba(8, 145, 178, 0.1);
    color: #0891B2 !important;
}

/* Style pour les éléments actifs dans le menu déroulant */
.dropdown-item.active,
.dropdown-item:focus {
    background-color: rgba(8, 145, 178, 0.2) !important;
    color: #0891B2 !important;
}

/* Styles pour le texte dans le menu déroulant */
.dropdown-menu .dropdown-item {
    color: #1E293B;
    padding: 10px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

/* Styles pour l'élément actif dans le menu déroulant */
.dropdown-menu .dropdown-item.active {
    background-color: rgba(8, 145, 178, 0.1);
    color: #0891B2;
}

/* Liens du menu déroulant selon les variables Bootstrap */
:root {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: .5rem;
    --bs-nav-link-font-weight: normal;
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
}

/* Utilisation des variables dans les liens */
.navbar-nav .nav-link {
    padding-left: var(--bs-nav-link-padding-x);
    padding-right: var(--bs-nav-link-padding-x);
    padding-top: var(--bs-nav-link-padding-y);
    padding-bottom: var(--bs-nav-link-padding-y);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
}

.navbar-nav .nav-link:hover {
    color: var(--bs-nav-link-hover-color);
}

/* Taille du menu Theme Selector */
#themeSelector .dropdown-menu {
    max-width: 48px !important;
    min-width: 48px !important;
    padding: 0;
    display: block;
}

/* Taille du menu Language Selector (largeur différente) */
#languageSelector .dropdown-menu {
    max-width: 120px !important;
    min-width: 120px !important;
    padding: 0;
    display: block;
}