/* src/App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

/* .hero {
  background-image: url(/public/background.jpg);
  background-size: cover;
  padding: 100px 20px;
  text-align: center;
  color: #fff;
}

.hero h1, h2 {
  color: #fff;
} */
